---
layout: page
title: 他们说
category: link
---

<h3>
{{ page.title }} <small> | 直指人心的文字、观点、故事 </small>
</h3>


{% for post in site.categories.link %}
    <div class="row-fluid">
        <div class="span6">
        <h4>
          <a href="{{ post.url }}"><small>{{ post.date  | date: "%m/%d/%Y" }}</small>  {{ post.title }}</a>
        </h4></div>
        <div class="pull-right"><ul class="tag_box inline">
          {% assign tags_list = post.tags %}
          {% include JB/tags_list %}
        </ul></div>
    </div>
{% endfor %}






