---
theme :
name : default
layout: default
---
{% assign found_prev = false %}
{% assign found_next = false %}

{% for category in page.previous.categories %}
  {% if category == 'blog' %}
    {% assign found_prev = true %}
  {% endif %}
{% endfor %}

{% for category in page.next.categories %}
  {% if category == 'blog' %}
    {% assign found_next = true %}
  {% endif %}
{% endfor %}

<div id="layout">
  <a href="#menu" id="menulink" class="menu-link"> <span></span> </a>

  <div id="menu">
      <div class="pure-menu pure-menu-open">
          <a class="pure-menu-heading" href="/blog">Blog &#171;</a>
          <ul class="toc"></ul>
      </div>
  </div>

  <div id="main">
    <div class="header">
      <h1 class="content">{{page.title}}</h1>
      <h4>
        {% if page.description %}
          简介：{{page.description}}
        {% else %}
          {{page.description}}
        {% endif %}
      </h4>
    </div>

    <div class="content">
      {{ content }}

      {% if page.previous %} 
        {% if found_prev %}
        <ul class="pure-paginator left">
          <li><a class="pure-button prev" href="{{ page.previous.url }}">&#171; {{ page.previous.title }}</a></li>
        </ul>
        {% endif %}
      {% endif %}

      {% if page.next %} 
        {% if found_next %}
        <ul class="pure-paginator right">
          <li><a class="pure-button next" href="{{ page.next.url }}">{{ page.next.title }} &#187;</a></li>
        </ul>
        {% endif %}
      {% endif %}

      <div class="clear-float"></div>
    </div>

    <div class="footer">
    </div>

  </div> 
</div>


