---
name : post
layout: default
---
{% assign found_prev = false %}
{% assign found_next = false %}

{% for category in page.previous.categories %}
  {% if category == 'blog' %}
    {% assign found_prev = true %}
  {% endif %}
{% endfor %}

{% for category in page.next.categories %}
  {% if category == 'blog' %}
    {% assign found_next = true %}
  {% endif %}
{% endfor %}

<div id="layout">
  <a href="#menu" id="menulink" class="menu-link"> <span></span> </a>

  <div id="menu">
      <div class="pure-menu pure-menu-open">
          <a class="pure-menu-heading" href="/blog">Blog &#171;</a>
          <ul class="toc"></ul>
      </div>
  </div>

  <div id="main">
    <div class="header">
      <h1>{{page.title}}</h1>
      <div class="post-info">
        <div class="pure-g post-info">
          <div class="pure-u-1-2 post-date"><a href='/archive.html#{{page.date|date:"%Y"}}'>{{ page.date | date: "%Y" }}</a> / <a href='/archive.html#{{page.date|date:"%Y-%m"}}'>{{ page.date | date: "%m" }}</a> / <a href='/archive.html#{{page.date|date:"%Y-%m"}}'>{{ page.date | date: "%d" }}</div>
          <div class="pure-u-1-2 post-author"><a href="/about">{{ site.author.name }}</a></div>
        </div>
          {% if page.description %}
          <p class="post-intro">【简介】{{page.description}}</p>
          {% endif %}
      </div>
    </div>

    <div class="content">
    
      {{ content }}

      {% if page.previous %} 
        {% if found_prev %}
          <a class="post-paginator pure-button left" href="{{ page.previous.url }}">&#171; {{ page.previous.title }}</a>
        {% else %}
          <a class="post-paginator pure-button pure-button-disabled left" href="#">已经是第一篇</a>
        {% endif %}
      {% else %}
        <a class="post-paginator pure-button pure-button-disabled left" href="#">已经是第一篇</a>
      {% endif %}

      {% if page.next %} 
        {% if found_next %}
          <a class="post-paginator pure-button right" href="{{ page.next.url }}">{{ page.next.title }} &#187;</a>
        {% else %}
          <a class="post-paginator pure-button pure-button-disabled right" href="#">已经是最后一篇</a>
        {% endif %} 
      {% else %}
        <a class="post-paginator pure-button pure-button-disabled right" href="#">已经是最后一篇</a>
      {% endif %}

      <div class="clear-float"></div>

    </div>

    <div class="footer">
    </div>

  </div> 
</div>


<!-- js preprocessing post -->
<script type="text/javascript" src="/assets/js/post.js"></script>

