<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>educi</title>
   <link rel="stylesheet" href="{{ ASSET_PATH }}/css/reset.css" type="text/css" media="screen, projection" />
   <link rel="stylesheet" href="{{ ASSET_PATH }}/css/screen.css" type="text/css" media="screen, projection" />
   </style>
</head>
<body>
  <div id="left_bg" class="bg"></div>
  <div id="right_bg" class="bg"></div>
  <div class="container">
    <div class="center">
      <div id="left" class="middle">
        red
        <p>
          Go! make
        </p>
        <ul>
          <li><a href="/blog">blog</a></li>
          <li><a href="/about">about</a></li>
        </ul>
      </div>
      <div id="right" class="middle">
        uci
        <p>
        something happen
        </p>
        <ul>
          <li><a href="/link">link</a></li>
          <li><a href="/project">project</a></li>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>


