
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="/">HOME</a>
    <ul class="nav">
      <li><a href="/blog">Blog</a></li>
      <li><a href="/project">Project</a></li>
      <li><a href="/map">Map</a></li>
      <li><a href="/image">Image</a></li>
      <li><a href="/words">Words</a></li>
      <li><a href="/chinese">中文</a></li>
      <li class="zh"><a href="/link">他们说</a></li>
      <li><a href="/about">About</a></li>
    </ul>
     <ul class="nav pull-right">
      <li><a href="{{ site.feed }}" rel="feed" target="_blank">RSS</img></a></li>
    </ul>
  </div>
</div>




